#textToSynth{
float: left;
width: 50%;
margin-left: 60px;
margin-top: 10px;
margin-bottom: auto;
margin-right: auto;
}

#inputText{
    width: 60%;
    margin-bottom: 5px;
}
#inputText2{
    width: 60%;
    margin-bottom: 5px;
}

#mediaID{
    float: left;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: auto;
}
img {
    width: 64px;
    height: auto;
}
h1 {
    margin-top: 5px;
}